body{
    margin:200px;
}
.grid{
display:grid;
grid-template-columns: 100px 100px 100px 100PX;
grid-template-rows: 100px 100px 100px;
grid-template-areas: 
"a  a  b  b"
"c  d  d  d"
"e  e  e  e";
gap: 20px;
margin: 10px;
padding: 50px;

}
.color{
    background-color:rgb(59, 58, 58);
    display: flex;
    align-items: center;
    justify-content: start;
    border: 2px solid black;
    color:white;
    padding-left: 20px; 
}
.a{
    grid-area: a;
}
.b{
    grid-area: b;
}
.c{
    grid-area: c;    
}
.d{
    grid-area: d;
}
.e{
    grid-area: e;

} 